<div class="absolute top-0 left-0 w-screen h-screen flex" style="background-color: rgba(97, 97, 97, 0.315);">
  <div class="m-auto p-4 bg-white border border-gray-50 rounded-lg lg:w-1/2">
    <div class="flex flex-row">
      <div><i class="bi text-xl m-auto bi-arrow-left"></i></div>
      <span class="font-medium text-xl text-gray-700 flex-grow ml-4">Danh sách bạn bè</span>
    </div>

    <div class="mt-12 flex flex-col space-y-2">
      <div class="flex flex-row">
        <span class="m-auto flex-grow">Dương Minh Cảnh</span>
        <button class="bg-red-500 rounded-lg px-3 py-2 text-white ml-2">Huỷ kết bạn</button>
      </div>
      <div class="flex flex-row">
        <span class="m-auto flex-grow">Dương Minh Cảnh</span>
        <button class="bg-red-500 rounded-lg px-3 py-2 text-white ml-2">Huỷ kết bạn</button>
      </div>
      <div class="flex flex-row">
        <span class="m-auto flex-grow">Dương Minh Cảnh</span>
        <button class="bg-red-500 rounded-lg px-3 py-2 text-white ml-2">Huỷ kết bạn</button>
      </div>
      <div class="flex flex-row">
        <span class="m-auto flex-grow">Dương Minh Cảnh</span>
        <button class="bg-red-500 rounded-lg px-3 py-2 text-white ml-2">Huỷ kết bạn</button>
      </div>
      <div class="flex flex-row">
        <span class="m-auto flex-grow">Dương Minh Cảnh</span>
        <button class="bg-red-500 rounded-lg px-3 py-2 text-white ml-2">Huỷ kết bạn</button>
      </div>
    </div>
  </div>
</div>
